ITHUTE_API_URL=https://ithute.co.ls
ITHUTE_MAIL_AGENT_TOKEN=ith_mail_REPLACE_ME
ITHUTE_MAIL_ACCOUNTS_FILE=/tmp/docker-mailserver/postfix-accounts.cf
ITHUTE_MAIL_STORAGE_PATH=/srv/ithute-mail
ITHUTE_MAIL_POLL_SECONDS=10
ITHUTE_MAIL_HEARTBEAT_SECONDS=60
