.git
.github

**/.env
**/.env.*
!**/.env.example
!**/.env.production.example

**/node_modules
**/.next
**/.venv
**/venv

**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache

apps/backend/secrets/*
apps/backend/media/*
apps/backend/uploads/*

*.zip
*.dump
*.sql
*.log

.DS_Store
Thumbs.db